/* font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}
body {
    font-family: "Azeret Mono", monospace;
}

/* 1st banner css style */
header .banner-1{
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    max-width: 14440px;
    height: 652px;
    color: rgb(13, 19, 33);
    padding: 20px;
    text-align: center;
}
header .banner-1 .banner-image{
    position: absolute;
    margin-top: 26px;
    margin-left: 50%;
    width: 240px;
    height: 240px;
}
header .banner-1 h1{
    margin-top: 32px;
    font-size: 48px;
    margin-bottom: 10px;
}
header .banner-1 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 32px;
}
header .banner-1 button{
    background-color: black;
    border-radius: 8px;
    width: 208px;
    height: 66px;
    color: white;
    font-size: 20px;
    font-weight: 600px;
    text-align: center;
}
/* 2nd banner css style */
.banner-2 {
    max-width: 1140px;
    height: 1395px;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    /* border: 2px solid red; */
    background-color: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 40px;
}
/* image wwith banner style */
.banner-2-2nd{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 80px 97px;
}

.text-with-image {
    max-width: 946px;
    height: 360px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    /* border: 2px solid red; */
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.text-with-image img {
    margin-top: 48px;
    max-width: 259.56px;
    height: 217.01;
    margin-right: 20px;
}

/* .content .image-2 img{
    align-items: left;
} */
.text {
    margin-top: 48px;
    text-align: left;
}
.text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text p {
    margin-top: 16px;
    font-size: 14px;
    margin-bottom: 20px;
}

button {
    margin-top: 32px;
    /* padding: 10px 20px; */
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
/* My Inspriration css style */
.banner-3{   
    max-width: 1140px;
    height: 777px;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    /* border: 2px solid red; */
    margin: 0 auto; 
}
.banner-3 video{
    position: static;
    width: 1034px;
    height: 550px;
    margin: 10px 0px;
}
/* My next target css style */
.banner-4{
    max-width: 1140px;
    height: 443px;
    /* margin-top: 100px; */
    padding: 2px;
    text-align: center;
    /* border: 2px solid blue; */
    margin: 0 auto; 
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-top: 24px;
}
/* image-with-text-2 */
.banner-4-2nd{
    display: flex;
    gap: 24px;
    /* margin: 80px 97px; */
}
.backgruond-1{
    background-color: rgba(255, 76, 30, 0.05);
}
.backgruond-2{
    background-color: rgba(0, 76, 232, 0.05);
}
.backgruond-3{
    background-color: rgba(255, 223, 0, 0.05);
}
.text-with-image-4{
    max-width: 364px;
    height: 300px;
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    align-items: left;
    /* border: 2px solid red; */
    padding: 20px;
    border-radius: 8px;
}
.text-with-image-4 img {
    max-width: 56px;
    height: 56px;
}
.text-4 {
    text-align: left;
}
.text-4 h2 {
    font-size: 24px;
    margin-bottom: 14px;
}

.text-4 p {
    margin-top: 16px;
    font-size: 14px;
    margin-bottom: 30px;
}
.text-4 .btn{
    color: black;
    margin-top: 24px;
}
/* I need suppot css style */
.banner-5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    max-width: 1140px;
    height: 313px;
    margin: 20px auto; 
    margin-top: 100px;
    border-radius: 16px;
    /* border: 2px solid red; */
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../assets/handshake.jpg');
}
.banner-text{
    margin-top: 64px;
    color: white;
    text-align: center;
}
.feedback{
    width: 548px;
    height: 57px;
    padding-left: 20px;
}
button{
    width: 120px;
    height: 57px;
    text-align: center;
    font-size: 20px;
}
/* fotter */
.information{
    display: flex;
    max-width: 1440px;
    height: 100px;
    margin-top: 100px;
    padding: 30px;
    padding-left: 150px;
    /* padding-right: 0px; */
    text-align: left;
    /* border: 2px solid red; */
    margin: 0 auto; 
    gap: 650px;
}
.contact-info img{
    align-items: flex-end;
}